/QuanLyNhanVien_1/nbproject/private/
/QuanLyNhanVien_1/build/
/QuanLyNhanVien/QuanLyNhanVien/build/
/QuanLyNhanVien/QuanLyNhanVien/nbproject/private/
/QuanLyNhanVien_1/dist/
/QLNV/nbproject/private/
/QLNV/build/
